# GLOBAL
.env
*.env
*.log
*.tmp
*.cache
.DS_Store
Thumbs.db

# BACKEND (Java - Maven)
target/
.idea/
*.iml
.mvn/
dependency-reduced-pom.xml

# PYTHON CHATBOT
__pycache__/
*.pyc
.venv/
venv/
dist/
build/
.pytest_cache/

# FRONTEND (React Native)
node_modules/
.expo/
.expo-shared/
android/
ios/
npm-debug.log
yarn-debug.log
yarn-error.log

# DOCKER
**/.dockerignore
docker-compose.override.yml

# VS CODE
.vscode/
