name: Backend CI

on:
  push:
    branches: [develop, 'feature/**']
    paths: ['backend/**']
  pull_request:
    branches: [develop]
    paths: ['backend/**']

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SPRING_PROFILES_ACTIVE: test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Set up JDK 17
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build & test
        working-directory: backend
        run: mvn -B clean test -e

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: backend/target/*.jar
